.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.logo-accent__header {
  color: rgba(0, 0, 0, 1);
}

.logo-accent__footer {
  color: rgba(255, 255, 255, 1);
}

.logo-accent__web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__icon {
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 10px;
}

/* Remove Text Decorations */

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-link__main &:hover,
  .header-link__main &:focus {
    color: var(--accent-color);
  }
}

.header-link__main .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* ----------------------------- ALIGNIGN ALL LINKS ---------------*/
.header__menu {
  display: flex;
  align-items: center;
}

.portfolio-main-line {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-main-line .item + .item {
  margin-left: 8px;
}

.header-link__contacts {
  display: flex;
  margin-left: auto;
}

.header-link__contacts .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link__contacts .item + .item {
  margin-left: 50px;
}

.logo__padding {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link__main {
  display: flex;
  margin-left: 93px;

  & .current::after {
    display: flex;
    position: absolute;
    content: "";
    align-items: flex-end;
    left: 0%;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}

.header-link__main .item + .item {
  margin-left: 50px;
}

.header-link__main .link.current {
  color: var(--accent-color);
}

/* Mail and Phone Number Header*/
.email {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-link__contacts &:hover,
  .header-link__contacts &:focus {
    color: var(--accent-color);
  }
}

.phone {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-link__contacts &:hover,
  .header-link__contacts &:focus {
    color: var(--accent-color);
  }
}
