
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #f5f4fa;
}

.team-section-main {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
}

.team-introduction {
    padding: 30px 0;
}

.team-section-leader {
    margin-bottom: 10px;
    text-align: center;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-section-title {
    text-align: center;
    margin-bottom: 16px;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
}



.feature-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.feature-team .item {
    width: calc((100% - 90px) / 4);

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.feature-team .item:last-child {
    margin-right: 0;
}

.about-section-main {
    margin-bottom: 50px;
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about-section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    text-transform: uppercase;
}


