.about-section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-section-about {
    padding-bottom: 94px;
}

.about-section-text {
    margin-top: 10px;
    color: var(--primary-text-color);
    line-height: 2;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-list .item {
    width: 270px;
    margin-right: 30px;
}

.feature-list .item:last-child {
    margin-right: 0;
}