.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
    transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    padding: 40px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;


    transition:
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:focus {
    fill: #2196f3;
}

.modal-btn-close:hover .modal-btn-close:focus {
    border: rgba(33, 150, 243, 1);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
}

.modal-block-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-input {
    padding-left: 42px;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);

    width: 100%;
    height: 40px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: rgba(33, 150, 243, 1);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: rgba(33, 150, 243, 1);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
    position: relative;
    margin-top: 4px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-field:nth-child(4) {
    margin-bottom: 20px;
}


.comments {
    margin-top: 4px;
    resize: none;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.comments:hover,
.comments:focus {
    border-color: rgba(33, 150, 243, 1);
}

.check-text {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    margin-left: 13px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: #757575;
}

.check-text .icon-check-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    fill: transparent;

    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text .icon-check-icon {
    background-color: #2196F3;
    border: none;
    fill: #FFFFFF;
}

.modal-check:focus+.check-text .icon-check-icon {
    border-color: #2196F3;
    /* border: none;
  fill: #FFFFFF; */
}


.link-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-decoration-line: underline;
    color: #2196F3;
}